/* Main text family */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Raleway Font Family */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Zen Old Mincho Font Family */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Zen+Old+Mincho:wght@700;900&display=swap');

/* Alfa Slab One Font Family */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
    --white: white;
    --black: black;

  /* Theme Colors */
    --theme-green: rgb(16, 113, 76);
    --theme-green-a: rgba(18, 199, 130, 0.6);
    --theme-red: rgb(251, 0, 9);
    --placeholder-grey: rgb(158, 152, 152);
    --theme-grey: rgb(71, 69, 69);
    --background-grey: rgb(236, 234, 234);
    --theme-linebreak-color: rgb(212, 205, 206);
    --background-grey-2: rgb(247, 245, 245);

  /* Fonts */
    --roboto-font-family: 'Roboto', sans-serif;;
    --zen-font-family: 'Zen Old Mincho', serif;
    --alfa-font-family: 'Alfa Slab One', sans-serif;

 /* Transition */
  ---transition: all 0.5s ease;
}

/* ==================
    UNIVERSAL STYLES
   ================== */

html{
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
}    

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 2rem;
}

.flex {
    display: flex;
    align-items: center;
}

.text-center {
    text-align: center;
}

.theme-h2 {
    font-size: 2rem;
}

.theme-h5 {
    font-size: 1rem;
    font-weight: 200;
}

.theme-p {
    font-size: 1rem;
    font-weight: 100;
}

.linebreak {
  border-bottom: 1px solid var(--theme-linebreak-color);
  margin: 1rem 0;
}

/* ======
    Main
   ====== */
.main {
    width: 100%;
    height: 600px;
    background: url('../images/main.jpg') no-repeat center;
    position: relative;
    background-size: 100% 100%;
    border-radius: .1rem;
    z-index: 1;
}

.main:after {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

/* Nav 1 */
.border {
  border-bottom: 1px solid grey;
}
.nav-1 {
    color: var(--white);
    justify-content: space-between;
    font-weight: 300;
    font-size: .9rem;
    padding: 1rem 0;
}

.nav-1 a {
    color: var(--white);
}

.nav-1 a:hover,
.nav-2 a:hover {
    color: var(--theme-red);
}

.nav-1 i {
    margin-right: .5rem;
}

.nav-1-left-opening {
    margin-right: 1.5rem;
}

.nav-1-right-item {
    margin-left: 1.5rem;
}

.nav-1-right-account a {
    padding: 0 .5rem;
}

.nav-1-right-account a:last-child {
  padding-right: 0;
}

.nav-1-right-account a:first-child {
    border-right: 1px solid var(--white);
}

/* Nav 2 */
.nav-2 {
  padding: 1.5rem 0;
}

.nav-2-contents {
  justify-content: space-between;
}

.nav-2-contents a {
  color: var(--white);
}

.logo {
  color: var(--theme-red);
  font-size: 2rem;
  line-height: .7;
}

.logo-slogan {
  color: var(--white);
  font-size: .8rem;
}

.nav-2-right-item {
  margin-left: 1.5rem;
}

nav li {
  margin: 0 2rem;
}

.nav-2-right-cart {
  position: relative;
}

.nav-2-right-cart i,
.nav-2-right-search i {
  color: var(--white); 
}

.shoppping-cart {
  position: absolute;
  color: var(--white);
  bottom: 15px;
  left: .7rem;
  font-size: .6rem;
  background: var(--theme-red);
  border-radius: 50%;
  padding: 1px 3px;
}

/* Main Search */
.main-search {
  justify-content: center;
  margin-top: 10rem;
}

.main-search-contents {
  text-align: center;
  color: var(--white);
}

.main-search-contents h1 {
  font-size: 3rem;
  line-height: 1;
}

.main-search-contents h3 {
  font-size: 2rem;
  font-weight: 300;
}

.main-search-form {
  justify-content: center;
  margin-top: 2rem;
}

.main-search-form-control input {
  border: none;
  color: var(--black);
  box-sizing: border-box;
  padding: .8em 1.15em;
  font-size: 1rem;
  width: 25rem;
}

.main-search-form-control input::placeholder {
  font-size: 0.8rem;
  font-weight: lighter;
  color: var(--placeholder-grey);
}

.main-search-btn {
  background-color: var(--theme-red);
  color: var(--black);
  padding: 1em 1.15em;
  border: 1px solid var(--theme-red);
}

/* ==============
    Search Stock
   ============== */
.search-stock {
   background-color: var(--theme-green);
   color: var(--white);
   padding: 4rem;
}

/* Search Stock Form */
.search-stock-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-self: center;
    justify-self: center;
    gap: 2rem;
    margin: 1.5rem 0;
}

.search-stock-form-dropdown {
    display: flex;
    align-items: center;
    background-color: var(--white);
    margin-bottom: .8rem;
}

.search-stock-checkbox-item label,
.search-stock-form-item label {
    font-size: .9rem;
}

.search-stock-form-dropdown i {
    padding: .5rem;
    color: var(--theme-green-a);
    
}

.search-stock-form-item label {
    text-align: left;
}

.search-stock-form-item input {
    width: 100%;
    padding: 1em 1.15em;
    border: none;
    background-color: var(--white);
}

.search-stock-form-item input::placeholder {
    font-size: 0.8rem;
    font-weight: lighter;
    color: var(--placeholder-grey);
}

.dropdown-group {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.search-stock-btn {
    margin: auto; 
}

/* Checkbox */
.search-stock-item-checkbox {
    display: grid;
    align-items: end;
    
    
}
.search-stock-checkbox {
    display: flex;
    gap: 1rem;
}

.checkbox,
.checkbox1,
.checkbox2 {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-input,
.checkbox-input1,
.checkbox-input2 {
    display: none;
}

.checkbox-box,
.checkbox-box1,
.checkbox-box2 {
    width: 1.25em;
    height: 1.25em;
    border: 2px solid var(--white);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    flex-shrink: 0;
    transition: background 0.15s, border-color 0.15s;
}

.checkbox-box::after,
.checkbox-box1::after, 
.checkbox-box2::after  {
    content: '\2714';
    color: white;
    transform: scale(0);
    transition: transform 0.15s;
}

.checkbox-input:checked + .checkbox-box,
.checkbox-input1:checked + .checkbox-box1,
.checkbox-input2:checked + .checkbox-box2 {
    background:rgb(251, 0, 9);
    border-color:rgb(251, 0, 9);
}

.checkbox-input:checked + .checkbox-box::after,
.checkbox-input1:checked + .checkbox-box1::after,
.checkbox-input2:checked + .checkbox-box2::after {
    transform: scale(1);
}

.search-p {
    width: 70%;
    margin: auto;
}

.search-stock-btn {
    background-color: var(--theme-green-a);
    border-radius: 1.5rem;
    padding: 1em 1.5em;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--white);
    font-family: var(--roboto-font-family);
    margin-top: 1rem;
    display: block;
}

.search-stock-btn:hover {
    background-color: var(--theme-red)
}

/* ================
    Our Selections
   ================ */
.our-selection {
  margin: 4rem 0;
}

.our-selection-title {
  color: var(--theme-red);
}

.our-selection-choices {
  display: flex;
  justify-content: center;
  margin: .8rem 0 1rem 0;
}

.our-selection-choices-item {
  background-color: var(--background-grey);
  padding: .5rem 1rem;
  margin: 1rem 0;
  border-radius: 3rem;
}

.our-selection-choices-item h3 {
  margin: 0 .5rem;
}

.our-selection-choices-item h3:first-child {
  color: var(--theme-red);
}
  
.our-selection-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.card-item {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.card-item-content {
  margin: 0 .5rem .5rem .5rem;
}

.card-item img {
  width: 100%;
  object-fit:contain;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-item-content h4 {
  font-size: 1.4rem;
  font-family: var(--roboto-font-family);
  color: var(--theme-red);
}

.card-info h5 {
  color: var(--theme-red);
  font-size: 1.1rem;
}

.card-info p {
  font-size: .8rem;
}

.card-details {
  gap: .5rem;
  margin: .3rem 0;
}

.detail {
  font-size: .7rem;
  color: var(--placeholder-grey);
}
.detail i {
  margin-right: .2rem; 
}

.card-item-btn {
  border: none;
  padding: .8em 1.3em;
  font-size: 1rem;
  border-radius: 1.5rem;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--theme-green);
  font-family: var(--roboto-font-family);
  display: block;
  margin: 1rem auto 0 auto;
}

.card-item-btn:hover {
  background-color: var(--theme-red);
}

/* ===========
    Search By
   =========== */
.search-by, 
.testimonials {
  padding: 4rem;
  background-color: var(--background-grey-2);
}

.search-by-top {
  justify-content: space-between;
  margin-bottom: 1rem;
}

.search-by-title {
  color: var(--theme-green);
}

.search-by-options {
  color: var(--theme-grey);
  text-transform: uppercase;
}

.search-by-options h4 {
  padding: .3rem .5rem;
}

.search-by-options h4:first-child {
  background-color: var(--theme-green);
  color: var(--white);
}

.search-by-bottom {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.search-by-bottom-item {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  background-color: var(--white);
  padding: 1rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-by-bottom-item h4 {
  color: var(--theme-grey)
}

.search-by-bottom-item img {
  margin-top: .4rem;
  width: 6rem;
  height: 8rem;
  object-fit: contain;
}


/* ==========
    About Us
   ========== */
.about-us {
  padding: 4rem;
}

.about-us-info {
  display: grid;
  grid-template-columns: 1.2fr .8fr;
  gap: 2rem;
  align-items: center;
}

.about-us-p {
  margin-bottom: 1rem;
}

.about-us-info-left h2 {
  margin-bottom: 1rem;
  color: var(--theme-red)
}

.about-us-info img {
  width: 100%;
  height: 18rem;
  border-top-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
}

.about-us-why-us {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 1rem;
}

.about-us-why-us img {
  width: 2rem;
  height: 3rem;
}

.about-us-why-us-item-1 {
  background-color: var(--theme-red);
  color: var(--white);
}

.about-us-why-us-item {
  padding: 1rem;
}

.about-us-why-us-item p {
  font-size: .8rem;
  margin-top: .5rem;
}

.about-us-why-us-item-2 {
  color: var(--theme-grey);
}


/* ==============
    Testimonals
   ============== */
.testimonial-title {
  color: var(--theme-green);
  margin-bottom: 1rem;
}

.testimonial-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.testimonial-card-item {
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.testimonial-car {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}

.testimonial-person {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  object-position: top;
  object-fit: cover;
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  top: 9.5rem;
  border: 4px solid var(--white);
}

.testimonial-card-item-content {
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
  padding: .5rem;
}

.testimonial-card-item-content h5 {
  font-size: 1.2rem;
  color: var(--theme-green);
}

.testimonial-position {
  font-family: cursive;
  font-size: .8rem;
  font-weight: bolder;
  color: var(--theme-grey);
  margin-bottom: 1rem;
}

.testimonial-brief {
  font-size: .9rem;
  text-align: center;
  color: var(--placeholder-grey);
  line-height: 1.2;
}

.testimonial-card-item-content i {
  font-size: 2.5rem;
  margin: 1.5rem 0;
  color: var(--placeholder-grey);
}

.testimonial-card-item-1 i {
  color: var(--theme-green);
}


/* ============
    Questions
   ============ */
.questions {
  padding: 2rem;
  background-color: var(--theme-red);
  color: var(--white);
}

.questions-content {
  justify-content: space-between;
}

.questions-title {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.questions-contact {
  font-size: 1.2rem;
}

.questions-phone {
  margin-right: 3rem;
}

.questions-contact i {
  margin-right: .5rem;
}

.questions-message {
  border: 2px solid var(--white);
  padding: .5rem 1rem;
}

.questions-message:hover {
  background-color: var(--white);
  color: var(--theme-red);
}

/* =================
    News & Articles
   ================= */
.news-articles {
  padding: 4rem;
}

.news-articles-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.img-container img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

.news-articles-card-item {
  padding: 0 1.5rem;
}

.news-articles-card-item-1 {
  border-left: 1px dotted var(--placeholder-grey);
  border-right: 1px dotted var(--placeholder-grey);
}

.news-article-tag {
  display: inline;
  padding: .4em .7em;
  color: var(--white);
  border-radius: 3rem;
  font-size: .55rem;
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--theme-green);
  font-family: var(--roboto-font-family);
}

.news-article-title {
  margin: .5rem 0;
  line-height: 1;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--theme-grey)
}

.news-articles-author-details {
  justify-content: space-between;
  margin-top: 1.5rem;
}

.news-articles-author i, 
.news-articles-created i {
  margin-right: .5rem;
}

.news-articles-author, 
.news-articles-created {
  border-top: 1px dotted var(--placeholder-grey);
  font-size: .7rem;
  padding: .5rem 0;
  color: var(--placeholder-grey);
}

.news-articles-read-more {
  justify-content: center;
  align-items: center;
  background-color: var(--theme-green);
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  border-radius: 2px;
}

.news-articles-author-details a {
  color: var(--white);
}

.news-articles-author-details i {
  font-size: .9rem;
}


/* ========
    Footer
   ======== */
.footer {
  padding: 4rem 0 1rem 0;
  background-color: var(--theme-green);
  color: var(--white);
}

.footer a {
  color: var(--white);
  
}

.footer-contents {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1.5fr 1fr 1fr 1.2fr;
  grid-template-areas: 
    'contact info link subscribe'
    'contact credit credit credit';
  margin-bottom: 1rem;
}

.contact {
  grid-area: contact;
}

.info {
  grid-area: info;
}

.link {
  grid-area: link;
}

.subscribe {
  grid-area: subscribe;
}

.credit {
  grid-area: credit;
}

.footer-title {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

/* contact section */
.contact-info {
  font-size: .8rem;
  margin-bottom: 1rem;
}

.footer-contact {
  margin-bottom: 1rem;
}

.contact-detail {
  font-size: .8rem;
}

.footer-icon {
  margin-right: 1rem;
  font-size: 1.3rem;
}

/* Our Info & Quick Links */
.footer-contents-item li {
  margin-bottom: .8rem;
}

.footer-contents-item a:hover {
  color: var(--theme-red);
}

/* Subscribe */
.subscribe-form input[type='email'] {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 0px;
  box-sizing: border-box;
  padding: 0.7330em 0.7500em;
}

.subscribe-form input[type='submit'] {
  padding: 0.7330em 2.7500em;
  font-size: .8rem;
  border: 1.4px solid var(--white);
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  width: 100%;
  border-radius: 0px;
  box-sizing: border-box;
  margin-top: .5rem;
}

.subscribe-form input[type='submit']:hover {
 border-color: var(--theme-red);
 background-color: var(--theme-red);
}

.subscribe-form input::placeholder  {
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: lighter;
  color: lightgrey;
}

.footer-social-media-icons {
  margin-top: 1rem;
  text-align: center;
}

.footer-social-media-icons a {
  margin-right: 1rem; 
}

/* Credit Card */
.credit-card-info {
  justify-content: space-between;
}

.credit-card-pics img {
  height: 2rem;
  width: 3rem;
}

.footer-copyright {
  border-top: 1px solid var(--white);
  text-align: center;
  font-size: .7rem;
  padding-top: 1rem;
}